@{
    ViewData["Title"] = labelLocalizer["Home Page"];
}

<div class="text-center">
    <h1 class="display-4">@labelLocalizer["Welcome"]</h1>
    <p>@labelLocalizer["Learn about"] <a href="https://docs.microsoft.com/aspnet/core">@labelLocalizer["building Web apps with ASP.NET Core"]</a>.</p>
</div>
