@model CompanyName.AppName.Domain.Entities.Person

@{
    ViewData["Title"] = @labelLocalizer["Create a Person"];
}

<h1>@ViewData["Title"]</h1>
<partial name="_Message" />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for=@labelLocalizer["Firstname"] class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=@labelLocalizer["Lastname"] class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value=@labelLocalizer["Create"] class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@labelLocalizer["Back to List"]</a>
</div>

